#about.counter
  .container
    .row
      .col-lg-5.col-xl-6
        .image-container
          img.img-fluid(src='images/banhdau.jpg', alt='alternative')
        // end of image-container
      // end of col
      .col-lg-7.col-xl-6
        .text-container
          .section-title THÊM
          h2 Chúng tôi đam mê cung cấp các loại bánh, đồ uống, và các dịch vụ liên quan
          p
            | Mục tiêu của chúng tôi là cung cấp các loại bánh và đồ uống phù hợp vào từng thời điểm để các công ty có thể hưởng lợi từ động lực đã tạo ra và phát triển trong một thời gian dài
          ul.list-unstyled.li-space-lg
            li.media
              i.fas.fa-square
              .media-body Mọi thứ chúng tôi đề xuất đều có tác động tích cực
            li.media
              i.fas.fa-square
              .media-body Bạn sẽ trở thành đối tác quan trọng của công ty chúng tôi
          // Counter
          #counter
            if danhgia
              .cell
                .counter-value.number-count(data-count=danhgia[0].hailong) 1
                .counter-info
                  | Người dùng 
                  br
                  | Hài lòng
              .cell
                .counter-value.number-count(data-count=danhgia[0].giaiquyet) 1
                .counter-info
                  | Vấn đề
                  br
                  | Đã giải quyết
              .cell
                .counter-value.number-count(data-count=danhgia[0].nhanxettot) 1
                .counter-info
                  | Đánh giá tốt 
                  br
                  | Nhận xét
          // end of counter
        // end of text-container
      // end of col
    // end of row
  // end of container
