.container-fluid.bg
			.row.justify-content-center
				.col-md-3.col-sm-6.col-xs-12.row-container
					form(action="/account/register",method="POST")
						h1 Register account
						if error 
							.alert.alert-danger=error
						.form-group
							label(for='email') Email 
							input#email.form-control(name="email",type='email', placeholder='Enter email',value=values?values.email:"")
							p.emailError
						.form-group
							label.label(for='password') Password
							input#password.form-control(name="password",type='password', placeholder='Password',value=values?values.password:"")
							p.passwordError
						.form-check
							input#rememberMe.form-check-input(type='checkbox')
							label.form-check-label(for='rememberMe') Check me out
							
						button.btn.btn-success.btn-block.my-3 Register