.cards-1
  .container
    .row
      .col-lg-12
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-binoculars.fa-stack-1x
          .card-body
            h4.card-title Phân tích môi trường
            p
              | Điểm khởi đầu của bất kỳ câu chuyện thành công nào là biết vị trí hiện tại của bạn trong môi trường kinh doanh
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-list-alt.fa-stack-1x
          .card-body
            h4.card-title Kế hoạch phát triển
            p
              | Sau khi hoàn thành phân tích môi trường, giai đoạn tiếp theo là thiết kế và hoạch định chiến lược phát triển của bạn
        .card
          span.fa-stack
            span.hexagon
            i.fas.fa-chart-pie.fa-stack-1x
          .card-body
            h4.card-title Thực hiện và đánh giá
            p
              | Trong giai đoạn này, bạn sẽ tập trung vào việc thực hiện kế hoạch hành động và đánh giá kết quả sau mỗi chiến dịch tiếp thị
