footer.fixed-bottom
	.container-fluid.padding
		.row.text-center
			.col-md-4
				//- img(src='./images/logo.png',height="40")
				h4 Cake Coffee and Milk tea
				hr.light
				p 0857875232	
				p oanhpham41121@gmail.com
				p Ong Ich Duong street, DaNang, Vietnam
			.col-md-4
				hr.light
				h5 Working hours
				hr.light
				p Monday-Friday: 8am - 10:30pm
				p Weekend: 8am - 12am
			.col-md-4
				hr.light
				h5 Services
				hr.light
				//- p Outsourcing
				p Website development
				p Mobile applications
			.col-12
				hr.light-100
				h5 &copy; Cake Coffee and Milk tea