header#header.header
  .header-content
    .container
      .row
        .col-lg-12
          .text-container
            h1
              | BUSINESS 
              span#js-rotating CAKE, DRINK, SERVICE
            p.p-heading.p-large
              | Aria là công ty bánh và đồ uống, cung cấp các dịch vụ hàng đầu bằng cách sử dụng các chiến thuật tiếp thị trực tuyến và tối ưu hóa chuyển đổi
            a.btn-solid-lg.page-scroll(href='#intro') KHÁM PHÁ