#intro.basic-1
  .container
    .row
      .col-lg-5
        .text-container
          .section-title GI&#x1EDA;I THI&#x1EC6;U
          h2 Chúng tôi lun cung cấp các loại bánh ngon và chất lượng
          p
            | Việc tạo ra các sản phẩm vừa ngon vừa đảm bảo chất lượng đòi hỏi nguồn nguyên liệu hàng đầu và sự tỉ mỹ của người làm nghề.
          p.testimonial-text Nhiệm vụ của chúng tôi tại Aria là tạo ra các loại bánh và đồ uống hàng đầu.
          .testimonial-author Phạm Minh Oanh - CEO
      .col-lg-7
        .image-container
          img.img-fluid(style='height:570px;',src='images/Strawberry-Cake.jpg', alt='alternative')