#intro.basic-1
  .container
    .row
      .col-lg-5
        .text-container
          .section-title GI&#x1EDA;I THI&#x1EC6;U
          h2 Ch&uacute;ng t&ocirc;i lun cung c&#x1EA5;p c&aacute;c lo&#x1EA1;i b&aacute;nh ngon v&agrave; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng
          p
            | Vi&#x1EC7;c t&#x1EA1;o ra c&aacute;c s&#x1EA3;n ph&#x1EA9;m v&#x1EEB;a ngon v&agrave; &dstrok;&#x1EA3;m b&#x1EA3;o ch&#x1EA5;t l&#x1B0;&#x1EE3;ng &dstrok;&ograve;i h&#x1ECF;i ngu&#x1ED3;n nguy&ecirc;n li&#x1EC7;u h&agrave;ng &dstrok;&#x1EA7;u v&agrave; s&#x1EF1; t&#x1EC9; m&itilde; c&#x1EE7;a ng&#x1B0;&#x1EDD;i l&agrave;m ngh&#x1EC1;.
          p.testimonial-text Nhi&#x1EC7;m v&#x1EE5; c&#x1EE7;a ch&uacute;ng t&ocirc;i t&#x1EA1;i Aria l&agrave; t&#x1EA1;o ra c&aacute;c lo&#x1EA1;i b&aacute;nh v&agrave; &dstrok;&#x1ED3; u&#x1ED1;ng h&agrave;ng &dstrok;&#x1EA7;u.
          .testimonial-author Ph&#x1EA1;m Minh Oanh - CEO
      .col-lg-7
        .image-container
          img.img-fluid(src='images/intro-office.jpg', alt='alternative')