#project-1.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-1.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Bánh Mousse Cacao
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-2.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-2.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Classic Industry
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-3.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-3.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 BoomBap Audio
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-4.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-4.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Van Moose
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-5.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-5.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Joy Moments
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-6.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-6.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Spark Events
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-7.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-7.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Casual Wear
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
// end of lightbox-basic
// end of lightbox
// Lightbox
#project-8.lightbox-basic.zoom-anim-dialog.mfp-hide
  .row
    button.mfp-close.x-button(title='Close (Esc)', type='button') &times;
    .col-lg-8
      img.img-fluid(src='images/project-8.jpg', alt='alternative')
    // end of col
    .col-lg-4
      h3 Zazoo Apps
      hr.line-heading
      h6 Strategy Development
      p
        | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs
      p
        | By offering the best professional services and quality products in the market. Don&apos;t hesitate and get in touch with us.
      .testimonial-container
        p.testimonial-text
          | Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.
        p.testimonial-author General Manager
      a.btn-solid-reg(href='#your-link') DETAILS
      a.btn-outline-reg.mfp-close.as-button(href='#projects') BACK
    // end of col
  // end of row
