#services.cards-2
  .container
    .row
      .col-lg-12
        .section-title DỊCH VỤ
        h2 Các loại bánh bán chạy
    .row
      .col-lg-12
        if trendingcake
          each item in trendingcake
            .card
              .card-image
                img.img-fluid(style="width:690px;height:194px;object-fit: cover;",src='http://localhost:3000/images/' + item.image, alt='alternative')
              .card-body
                h3.card-title=item.name 
                p=item.content
                p.price
                  | Giá : 
                  span=item.price +" VND"
              .button-container
                a.btn-solid-reg.page-scroll(href='http://localhost:3000/products/' + item._id) Chi tiết
