#services.cards-2
  .container
    .row
      .col-lg-12
        .section-title DỊCH VỤ
        h2 Các loại dịch vụ
      // end of col
    // end of row
    .row
      .col-lg-12
        // Card
        .card
          .card-image
            img.img-fluid(src='images/services-1.jpg', alt='alternative')
          .card-body
            h3.card-title Cung cấp bánh 
            p
              | Perfect for fresh ideas or young startups, this package will help get the business off the ground
            ul.list-unstyled.li-space-lg
              li.media
                i.fas.fa-square
                .media-body Environment and competition
              li.media
                i.fas.fa-square
                .media-body Designing the marketing plan
            p.price
              | Starting at 
              span $199
          .button-container
            a.btn-solid-reg.page-scroll(href='#callMe') Chi tiết
        .card
          .card-image
            img.img-fluid(src='images/services-2.jpg', alt='alternative')
          .card-body
            h3.card-title Phân phối đồ uống
            p
              | Use this service pack to give your company the necessary impulse to become an industry leader
            ul.list-unstyled.li-space-lg
              li.media
                i.fas.fa-square
                .media-body Business strategy planning
              li.media
                i.fas.fa-square
                .media-body Taking the planned actions
            p.price
              | Starting at 
              span $299
          .button-container
            a.btn-solid-reg.page-scroll(href='#callMe') Chi ti&#x1EBF;t
        .card
          .card-image
            img.img-fluid(src='images/services-3.jpg', alt='alternative')
          .card-body
            h3.card-title Cung cấp dịch vụ
            p
              | You already are a reference point in your industry now you need to learn about acquisitions
            ul.list-unstyled.li-space-lg
              li.media
                i.fas.fa-square
                .media-body Maintaining the leader status
              li.media
                i.fas.fa-square
                .media-body Acquisitions the right way
            p.price
              | Starting at 
              span $299
          .button-container
            a.btn-solid-reg.page-scroll(href='#callMe') Chi ti&#x1EBF;t
