.basic-2
  .container
    .row
      .col-lg-12
        h2 Một số thành viên
        p.p-heading
          | We&apos;re only as strong and as knowledgeable as our team. So here are the men and women which help customers meet goals and grow companies
      // end of col
    // end of row
    .row
      .col-lg-12
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-1.png', alt='alternative')
          // end of image-wrapper
          p.p-large John Whitelong
          p.job-title General Manager
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-2.png', alt='alternative')
          // end of image wrapper
          p.p-large Veronique Smith
          p.job-title Business Developer
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-3.png', alt='alternative')
          // end of image wrapper
          p.p-large Chris Zimerman
          p.job-title Online Marketer
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-4.png', alt='alternative')
          // end of image wrapper
          p.p-large Mary Villalonga
          p.job-title Community Manager
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
      // end of col
    // end of row
  // end of container
