.basic-2
  .container
    .row
      .col-lg-12
        h2 Một số thành viên
        p.p-heading
          | Các thành viên của công ty
      // end of col
    // end of row
    .row
      .col-lg-12
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(style="width:230px;height:200px;image-rendering: unset;object-fit: fill;",src='images/mati.jpg', alt='alternative')
          // end of image-wrapper
          p.p-large Phạm Minh Oanh
          p.job-title CEO
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-2.png', alt='alternative')
          // end of image wrapper
          p.p-large Veronique Smith
          p.job-title Business Developer
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-3.png', alt='alternative')
          // end of image wrapper
          p.p-large Chris Zimerman
          p.job-title Online Marketer
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
        // Team Member
        .team-member
          .image-wrapper
            img.img-fluid(src='images/team-4.png', alt='alternative')
          // end of image wrapper
          p.p-large Mary Villalonga
          p.job-title Community Manager
          span.social-icons
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-facebook-f.fa-stack-1x
            span.fa-stack
              a(href='#your-link')
                span.hexagon
                i.fab.fa-twitter.fa-stack-1x
        // end of team-member
        // end of team member
      // end of col
    // end of row
  // end of container
