.slider
  .container
    .row
      .col-lg-12
        h2 Các sản phẩm sắp ra mắt
        p.p-heading
          | Comming soon
      // end of col
    // end of row
    .row
      .col-lg-12
        // Card Slider
        .slider-container
          .swiper-container.card-slider
            .swiper-wrapper
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhdau.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp hòa quyện giữa kem tươi và dâu đem lại cảm giác ngọt ngào 
                    .testimonial-author Bánh Kem Dâu
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhconbo.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp giữa kem, trứng và sữa tươi, tọa hình dễ thương, ngộ nghĩnh
                    .testimonial-author Bánh Bò Sữa
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhtrungkfc.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp giữa trứng và bột chiên giòn đem lại cảm giác giòn rụm khi ăn
                    .testimonial-author Bánh trứng KFC
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/bonglandautay.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Bánh bông lan hương dâu nhẹ đem lại cảm giác vừa thanh vừa ngọt ngào
                    .testimonial-author Bông Lan Dâu Tây
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/bonglansocola.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Bánh bông lan vị socola đáp ứng các tín đồ mê socola
                    .testimonial-author Bông Lan Socola
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/patato-cheese.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp giữa cà chua và vị béo mê li của kem cheese
                    .testimonial-author Patato Cream Cheese
              // end of swiper-slide
              // end of slide
            // end of swiper-wrapper
            // Add Arrows
            .swiper-button-next
            .swiper-button-prev
            // end of add arrows
          // end of swiper-container
        // end of sliedr-container
        // end of card slider
      // end of col
    // end of row
  // end of container
