.slider
  .container
    .row
      .col-lg-12
        h2 Các sản phẩm sắp ra mắt
        p.p-heading
          | Các sản phẩm mới và sắp được bày bán của công ty
      // end of col
    // end of row
    .row
      .col-lg-12
        // Card Slider
        .slider-container
          .swiper-container.card-slider
            .swiper-wrapper
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhdau.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp hòa quyện giữa kem tươi và dâu đem lại cảm giác ngọt ngào 
                    .testimonial-author Bánh Dâu
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhconbo.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp giữa kem, trứng và sữa tươi, tọa hình dễ thương, ngộ nghĩnh
                    .testimonial-author Bánh Bò Sữa
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/banhtrungkfc.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | Sự kết hợp giữa trứng và bột chiên giòn đem lại cảm giác giòn rụm khi ăn
                    .testimonial-author Bánh trứng KFC
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/testimonial-4.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | At the beginning I thought the prices are a little high for what they offer but they over deliver each and every time.
                    .testimonial-author Ronald Spice - Owner
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/testimonial-5.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | I recommend Aria to every business owner or growth leader that wants to take his company to the next level.
                    .testimonial-author Lindsay Rune - Manager
              // end of swiper-slide
              // end of slide
              // Slide
              .swiper-slide
                .card
                  img.card-image(src='images/testimonial-6.jpg', alt='alternative')
                  .card-body
                    .testimonial-text
                      | My goals for using Aria&apos;s services seemed high when I first set them but they&apos;ve met them with no problems.
                    .testimonial-author Ann Black - Consultant
              // end of swiper-slide
              // end of slide
            // end of swiper-wrapper
            // Add Arrows
            .swiper-button-next
            .swiper-button-prev
            // end of add arrows
          // end of swiper-container
        // end of sliedr-container
        // end of card slider
      // end of col
    // end of row
  // end of container
