extends ../layouts/khungcart.pug
block preloader
	nav.navbar.navbar-expand-md.navbar-dark.navbar-custom.fixed-top(style="background-color:#000000;height: 20px;")
		a.navbar-brand.logo-image(href='/')
			img(src='http://localhost:3000/images/logo.svg', alt='alternative')
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-awesome.fas.fa-bars
			span.navbar-toggler-awesome.fas.fa-times
		#navbarsExampleDefault.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				//- li.nav-item
				//- 	a.nav-link.page-scroll(href='/cart/')
				//- 		span 
				//- 			i.fas.fa-shopping-cart
				li.nav-item
					a.nav-link.page-scroll(href='http://localhost:3000/') Trang chủ 
						span.sr-only (current)
				li.nav-item
					a.nav-link.page-scroll(href='http://localhost:3000/#intro') Giới thiệu
				li.nav-item
					a.nav-link.page-scroll(href='http://localhost:3000/#services') Dịch vụ
				li.nav-item
					a.nav-link.page-scroll(href='http://localhost:3000/#callMe') Gọi điện
				li.nav-item
					a.nav-link.page-scroll(href='http://localhost:3000/#projects') Sản phẩm
				li.nav-item.dropdown
					a#navbarDropdown.nav-link.dropdown-toggle.page-scroll(href='#about', role='button', aria-haspopup='true', aria-expanded='false') Th&ecirc;m
					.dropdown-menu(aria-labelledby='navbarDropdown')
						a.dropdown-item(href='terms-conditions.html')
							span.item-text Điều khoản, Điều kiện
						.dropdown-items-divide-hr
						a.dropdown-item(href='privacy-policy.html')
							span.item-text Chính sách bảo mật
				li.nav-item
					a.nav-link.page-scroll(href='#contact') Li&ecirc;n h&#x1EC7;
			//- span.nav-item.social-icons
			//- 	span.fa-stack
			//- 		a.lo(href='/auth/login') Login
	          
				//- span.fa-stack
				//- 	a.lo(href='/account/register',style='margin-left:8px;') Register
block content
	h3(style="margin-top:150px;margin-bottom:20px;") Shopping Cart
	table.table
		tr
			th Avata
			th Name
			th Number
			th Total
			th Actions
		tr
			td
				img(style="width:40px;height:40px;image-rendering: unset;object-fit: fill;",src="http://localhost:3000/uploads/"+(user.avata !== ""?user.avata:"user.jfif"))
			td(style="line-height:40px;") a
			td(style="line-height:40px;") b
			td(style="line-height:40px;") c
			td
				a.btn.btn-danger(href='/users/deleteUser/'+user.account_id) Delete
			